body{
    background-color: aliceblue;
}
.home{
    margin-left: 250px;
    margin-right: 250px;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: x-large;
}
.text{
    margin-bottom: 20px;
    margin-top: 100px;
    font-size: xx-large;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-bottom: 10px;
}
.box{
    flex: 1;
    border: 1px solid black;
    overflow: hidden;
    background-color: white;
}
.photo-v{
    margin-left: 45px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.photo-h{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.container{
    margin-bottom: 20px;
    background-color: crimson;
    padding-bottom: 30px;
}