body{
    background-color: rgb(250, 250, 255);
    font-family: "Homenaje", sans-serif;
    font-weight: 500;
    font-style:normal;
    color: #4f4b4b;
}
.home{
    margin-left: 250px;
    margin-right: 250px;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 30px;
}
.text{
    margin-bottom: 20px;
    margin-top: 100px;
    font-size: 50px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-bottom: 10px;
}
.box{
    flex: 1;
    border: 1px solid white;
    overflow: hidden;
    background-color: white;
}
.photo-v{
    margin-left: 45px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.photo-h{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.container{
    margin-bottom: 20px;
    background-color:rgb(250, 250, 255);
    padding-bottom: 30px;
}
.photo-vx{
    margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}